@media screen and (min-width: 600px) {
	#container {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 100vh;

		margin-top: 0;
	}

	#assets {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: 0;

		position: relative;
	}
}

@media screen and (max-width: 599px) {
	#container {
		margin-top: 60px;

		h1 {
			margin: 30px;
		}
		#dozer {
			margin: 0px;
		}
	}

}

#dots {
	margin-top: 12px;
}

.dot {
	background: #ffe169;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin-left: 3px;

	animation: wave 4s linear infinite;

	&:nth-child(2) {
		animation-delay: -3.8s;
	}

	&:nth-child(3) {
		animation-delay: -3.6s;
	}
}

#credits {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);

	text-decoration: none;
	text-align: center;
	color: darkred;

	visibility: hidden;
}

@keyframes wave {
	0%,
	65%,
	75%,
	100% {
		transform: initial;
	}

	70% {
		transform: translateY(-8px);
	}
}

#dozer {
	width: 150px;
	padding-bottom: 75px;
	margin-right: 40px;

	z-index: 10;
}
