@media screen and (min-width: 600px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100vh;
    }
}

#dots {
    margin-top: 12px;
}

.dot {
    background: #ffe169;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 3px;

    animation: wave 4s linear infinite;

    &:nth-child(2) {
        animation-delay: -3.8s;
    }

    &:nth-child(3) {
        animation-delay: -3.6s;
    }
}

@keyframes wave {

    0%,
    10%,
    100% {
        transform: initial;
    }

    5% {
        transform: translateY(-8px);
    }
}

#dozer {
    width: 150px;
    padding-bottom: 75px;
    margin-right: 40px;
}