// Variables
$background: #fcf6f1;
$accent: darkred;
$align: left;

#cv {
	padding: 60px 0;
	background: $background;
}

h1 {
	padding: 70px;
	font-size: 48px;

	.error {
		margin: 70px;
		font-size: 48px;
	}
}

.page {
	* {
		grid-column-start: 3;
	}

	background-color: white;

	display: grid;

	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: repeat(34, 1fr);

	text-align: $align;

	#website {
		grid-column: 1 / 25;
		grid-row: 1 / 3;

		text-align: center;
		align-self: center;

		color: #ddd;

		display: none;
	}

	h1,
	p {
		padding: 0;
		margin: 0;
	}

	a {
		transition: .3s linear;
		text-decoration: none;
	}

	a:hover {
		color: $accent !important;
		transition: .3s linear;
	}

	a:visited {
		color: inherit;
	}
}

#profilepic {
	grid-column: 17 / 23;
	grid-row: 4 / 10;

	align-self: right;

	width: 100%;
	height: 100%;
	border-radius: 50%;

	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8);
}

#name {
	grid-column-end: 16;
	grid-row: 4 / 5;

	line-height: 32px;

	font-size: 37px;
	font-weight: 900;
}

#title {
	grid-column-end: 14;
	grid-row: 5 / 7;

	align-self: center;

	font-size: 24px;
	font-weight: 900;
	letter-spacing: 1.3px;

	color: $accent;

	a {
		color: $accent;
	}
}

#contact {
	grid-column-end: 17;
	grid-row: 7 / 8;

	img {
		margin-top: -2px;
		margin-right: 7px;

		width: 17px;
		height: 17px;
		display: inline-block;

		vertical-align: middle;
	}

	p,
	a {
		margin-right: 20px;
		padding-top: 7px;

		display: inline-block;
	}

	a {
		color: inherit;
	}
}

#about {
	grid-column-end: 15;
	grid-row: 8 / 11;

	padding-top: 14px;
}

#experience {
	grid-column-end: 15;
	grid-row: 13 / 26;

	display: grid;
	height: 100%;

	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(13, 1fr);

	h1 {
		grid-column: 1 / 13;
		grid-row: 1 / 2;

		font-size: 24px;
		border-bottom: 1px solid $accent;
	}

	#timeline {
		position: relative;
		display: flex;
		flex-flow: column;

		grid-column: 1 / 2;
		grid-row: 2 / 17;

		width: 100%;
		height: 100%;

		&:after {
			content: "";
			position: absolute;
			z-index: 1;
			top: 35px;
			bottom: 35px;
			left: 5px;
			border-left: 1px solid lightgray;
		}

		.dot {
			width: 5px;
			height: 5px;

			margin-left: 3px;
			margin-top: 63.5px;
			margin-bottom: 62px;

			z-index: 2;

			border-radius: 50%;
			background: $accent;
		}
	}

	#expcontent {
		grid-column: 2 / 13;
		grid-row: 3 / 17;

		display: grid;
		grid-template-columns: repeat(11, 1fr);
		grid-template-rows: repeat(11, 1fr);

		.entry {
			grid-row: span 4;
			grid-column: span 11;

			text-align: justify;

			&>p:last-child {
				font-size: 14px;
			}

			h1 {
				font-size: 14px;
				font-weight: 400;
				border-bottom: none;
				display: inline;
			}

			.jobtitle {
				font-size: 18px;
				font-weight: 800;
				padding-top: 2px;
				margin-bottom: 5px;
			}
		}

		&> :last-child h1,
		div {
			text-align: left;
			font-size: 14px;
		}
	}
}

#skills {
	grid-column: 17 / 23;
	grid-row: 13 / 26;

	display: grid;
	height: 100%;

	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(13, 1fr);

	h1 {
		grid-row: 1 / 2;
		grid-column: 1 / 7;

		font-size: 24px;
		border-bottom: 1px solid $accent;
	}

	.content {
		grid-row: 3 / 14;
		grid-column: 1 / 13;

		display: flex;
		flex-direction: column;
		justify-content: space-around;

		height: 100%;

		.entry {
			margin: 5px 0 15px;

			&:last-child {
				margin-bottom: 25px;
			}

			h1 {
				color: inherit;
				font-size: 14px;
				border: none;
				margin-bottom: 4px;
			}

			p {
				font-size: 14px;
			}

			.bar {
				width: 100%;
				height: 40%;

				background: darkgray;

				box-sizing: border-box;
			}
		}
	}
}

#projects {
	grid-column-end: 23;
	grid-row: 26 / 34;

	h1 {
		font-size: 24px;
		border-bottom: 1px solid $accent;
		margin-bottom: 24px;
	}

	p {
		font-size: 14px;
		margin-bottom: 5px;
	}

	img {
		width: 14px;
		margin: 0 3px;
		vertical-align: -2px;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	#footer {
		margin-top: 24px;
	}
}

/*****************
*
* MEDIA QUERIES
*
******************/

/* Remove shadows and margin on print */
@media print {
	.dot {
		-webkit-print-color-adjust: exact; // Get colors of timeline correct
	}

	.errorMsg {
		display: none;
	}

	#website {
		display: inline !important;
		-webkit-print-color-adjust: exact; // Get colors of correct
	}

	#cv {
		padding: 0;
	}

	body,
	page {
		margin: 0;
		box-shadow: 0;
	}

	@page {
		size: auto;
		margin: 0mm;
	}
}

@media screen and (min-width: 801px) {
	.errorMsg {
		display: none;
	}
}

/* Disable mobile users */
@media screen and (max-width: 800px) {
	#cv {
		display: none;
	}
}